.header1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.center {
    text-align: center;
}

.header1 button {
    width: 100%;
    height: 50px;
}

.form-container {
    width: 50%;
    height: 210px;
    margin:50px auto; padding:15px;
    border: 3px solid green;
    text-align: center;
}

.form-container button {
    width: 50%;
    margin-top: 30px;
}

.form-container label {
    float: left;
    font-size: 20px;
    margin-top: 5px;
}

.navbar {
    margin-top: 5px;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

.question {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    text-decoration: none;
    border-radius: 3px;
}

.question > div > div {
    color: #969696;
    font-size: 15px;
}

.option li input[type=radio]{
    position: absolute;
    visibility: hidden;
}
  
.option li label{
    display: block;
    font-size: 1.35em;
    margin: 10px auto;
    height: 30px;
    cursor: pointer;
}
  
.option li label:hover{
    color: rgb(10, 36, 121);
    background-color: rgb(29, 207, 154);
}

.active {
    background-color: rgb(29, 207, 154);
}

.option li .active:hover {
    color: black;
    cursor: revert;
}

.option li .unactive:hover {
    color: black;
    background-color: white;
    cursor: revert;
}

input[type="text"] {
    width: 100%;
    margin: 10px 0;
}

.form-btn {
    text-transform: uppercase;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: rgb(44, 184, 86);
    font-size: 20px;
    width: 100%;
}

.form-btn:disabled {
    cursor: revert;
    background: white;
}

  
  